//Vars imported
@import '_variable.scss';

//FONT 
@font-face {
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
}

//BODY
body{
    font-family: 'Nunito';
    max-width: 1400px;
    font-weight: $fontWeight400;
    font-size: $fontSize;
    margin: 3% auto;
    font-family: 'Nunito';
}
h1, h3 {
    font-weight: $fontWeight;
}
h1{
    font-size: $sizeH1;
}
h2{
    font-size: $sizeH2;
}
h3{
    font-size: $sizeH3;
}
//HEADER
header {
    background-color: $background;
    padding: 10px;
    margin-bottom: $marginBotSections;
    text-align: center;
    a {
        width: 100%;
        text-decoration: none;
        color: randomColorTitle();
    }
    a img {
        width: 10%;
        float: left;
    }
    h2 {
        @include randomColorSubTitle;
    }
}

@mixin navUl {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: $sizeLi;
}

//NAV
nav {
    display: flex;
    justify-content: center;
    background-color: $background;

    ul {
        @include navUl();
    }

    ul li {
        padding-right: 20px;
        text-transform: uppercase;
        font-weight: $fontWeight400;
    }

    ul li a {
        text-decoration: none;
        color: $fontColor;
        font-weight: $fontWeight400;
    }
    /*LI HOVER */
    ul li:hover {
        font-weight: $fontWeight;
    }
    ul li a:hover {
        font-weight: $fontWeight;
    }
}

//SECTION
@mixin textAdjust() {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
section {
    min-height: 25em;
    display: flex;
    flex-wrap: wrap;

    article {
        flex: 1;
        min-width: calc(33.33% - 20px);
        margin: 0.5em 0.25em 0 0.25em;
        text-align: center;
        position: relative;

        a {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        img {
            width: 25%;
            position: absolute;
            left: 0;
        }

        h3,
        p {
            width: 75%;
            position: absolute;
            right: 0;
        }

        h3 {
            padding-right: 1em;
            font-size: 1.2rem;
            margin-top: 10px;
        }

        p {
            padding: 1em 0.5em;
            font-size: 0.8rem;
            margin-top: 35px;
        }

        @media (max-width: 992px) {
            min-width: calc(50% - 20px);
            min-height: 10em;
        }
    
        @media (max-width: 768px) {
            flex: 0 0 100%;
            text-align: center;
            position: relative;
            margin: 0;
            padding: 0;
            min-height: 11em;
    
            img {
                width: 10%;
                position: absolute;
                top: 0;
                left: 50%;
                @include textAdjust();
            }
            h3 {
                width: 100%;
                position: absolute;
                top: 35%;
                left: 50%;
                @include textAdjust();
            }
            p {
                width: 100%;
                position: absolute;
                top: 55%;
                left: 50%;
                @include textAdjust();
            }
        }
    }

    @for $i from 1 through 7 {
        .article-#{$i} {
            background-color: randomColorBackground();
        }
    }
}


//FOOTER
footer {

    div{
        background-color: $background;
        width: 100%;
        text-align: center;
        margin-bottom: $marginBotSections;
    }

    div a{
        text-decoration: none;
    }

    p{
        background-color: $background;
        width: 100%;
        font-size: $sizeP;
        text-align: center;
    }
    p a{
        text-decoration: none;
        color: $fontColor;
    }
    img  {
        width: 3em;
    }
}
