// Variables
$color-principal-1: #000000;
$color-principal-2: #ff0000;
$color-principal-3: #00ff00;
$color-principal-4: #0000ff;
$color-claro: #9e9e9e;

// Variables de fuente
$fuente-cuerpo: "Times New Roman", Times, serif;
$fuente-titulos: "Arial", Helvetica, sans-serif;