body{
    background-color: rgb(189, 188, 188);
}
h1 {
    color: rgb(255, 0, 0);
}
ul {
    display: flex;
    padding-left: 0px;
}
li {
    display: flex;
    margin-right: 15px;
    color: white;
}
a{
    color: black;
    text-decoration: none;
}