/*ESTILO DE LA CABECERA*/
header{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background: rgb(0,115,13);
    background: linear-gradient(177deg, rgba(0,115,13,1) 0%, rgba(146,255,0,1) 43%, rgba(255,255,255,1) 100%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
header > li{
    list-style: none;
    margin-right: 5%;
    margin-top: 3%;
}
header > li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header > li a:hover{
    background-color: coral;
}
/*ESTILO DEL LA DIV QUE CONTIENE TODO EL CUERPO*/
.cuerpo{
    border: 1px solid green;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}
/*ESTILOS RELACIONADOS CON EL FOOTER*/
footer{
    border: 1px solid rgb(152, 250, 6);
    border-radius: 15px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px;
    border-bottom: none;
}
footer > p{
    text-align: center;
}
/*ESTILOS RELACIONADOS CON EL FOOTER*/
a{
    color: green;
}
/*ESTILOS RELACIONADOS CON CUERPO DEL PROGRAMA*/
div > h4{
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    margin: 10px;
}
    /*estilo de los divs del cuerpo*/
.cuerpo > div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
    /*estilo de boton de area de usuarios*/
.usuarios > button{
    width: 65px;
}
    /*estilo de los a href del area de usuarios*/
.usuarios > a{
    text-align: center;
    color:green
}
    /*estilo de span para simular a href en unidades de trabajo*/
span{
    color: green;
    cursor: pointer;
    text-decoration: underline;
}
    /*Estilos del div para meter la imagen junto con el texto*/
.caja-texto-imagen{
    margin: 10px;
}
.caja-texto-imagen > img {
    float: left;
    padding: 10px;
}
.caja-texto-imagen > p{
    text-align: justify;
}
    /*estilo del hr para la linea*/
hr{
    border: 1px dashed #666;
}
    /*estilo para poder justificar contenido de las portadas del centro*/
.portada{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: white;
    margin: 10px;
}
.portada > h5{
    margin:10px;
    padding: 10px;
}
    /*estilo de los a href de la parte de webs de interés*/
.intereses > a{
    text-decoration: none;
    color: green;
}
    /*Parte dedicada al tratamiento de la página cuando se reduce su tamaño (version movil-tablet) */
@media screen and (max-width: 768px) {
    .cuerpo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header > li a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
}